/* trois methode pour appeler un element html 
class : .NOM_DU_CLASS
id : #NOM_DU_ID
Tag : NOM_DU_TAG */
/* .entete {
  border-style: solid;
  border-color: brown;
}
.container {
  border-style: solid;
  border-color: blue;
}
section {
  background-color: blueviolet;
} */
